/* body{
    background: #eeeeee;
    font-family: 'Varela Round', sans-serif;
}
.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {
    color: #fff;
    background: #926dde;
    padding: 5px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.navbar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #efe5ff;
    padding-left: 0;
    padding-right: 50px;
    font-size: 24px;		
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #fff;
}
.navbar .navbar-brand i {
    font-size: 25px;
    margin-right: 5px;
}
.search-box {
    position: relative;
}	
.search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: none;
    background: #faf7fd;
    border-radius: 3px !important;
}
.search-box input:focus {		
    background: #fff;
    box-shadow: none;
}
.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 6px 5px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .nav-item span {
    position: relative;
    top: 3px;
}
.navbar .nav > li a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 14px;		
}
.navbar .nav > li a:hover, .navbar .nav > li a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.3);
}
.navbar .nav > li > a > i {
    display: block;
    text-align: center;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
    color: #fff;
    background: none !important;
}
.navbar .dropdown-menu {

    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:focus {
    color: #333 !important;
    background: transparent !important;
}
.navbar .nav .active a, .navbar .nav .active a:hover, .navbar .nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255,255,255,0.2);
    background: transparent !important;
}
.navbar .nav .user-action {
    padding: 9px 15px;
}
.navbar .navbar-toggle {
    border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
    background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
    background-color: #e9ecef !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .navbar .nav > li > a > i {
        display: inline-block;			
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }
    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }
    .navbar .navbar-form {
        border: none;			
        display: block;
        margin: 10px 0;
        padding: 0;
    }
    .navbar .navbar-nav {
        margin: 8px 0;
    }
    .navbar .navbar-toggle {
        margin-right: 0;
    }
    .input-group {
        width: 100%;
    }
} */

body{
    background: #eeeeee;
}
.form-inline {
    display: inline-block;
}
.navbar-header.col {
    padding: 0 !important;
}	
.navbar {		
    background: #fff;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #d6d6d6;
    box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
    border:1px solid #03b1ce ;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin: -8px 0;
    float: left;
    margin-right: 10px;
}
.navbar .navbar-brand {
    color: #555;
    padding-left: 0;
    padding-right: 50px;
    font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
    font-size: 20px;
    margin-right: 5px;
}
.search-box {
    position: relative;
}	
.search-box input {
    box-shadow: none;
    padding-right: 35px;
    border-radius: 3px !important;
}
.search-box .input-group-addon {
    min-width: 30px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 7px;
    height: 100%;
}
.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}
.navbar .nav-item i {
    font-size: 18px;
}
.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}
.navbar .nav-item.open > a {
    background: none !important;
}
.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu li a {
    color: #777;
    padding: 8px 20px;
    line-height: normal;
}
.navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
    color: #333;
}	
.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.navbar .badge {
    background: #f44336;
    font-size: 11px;
    border-radius: 20px;
    position: absolute;
    min-width: 10px;
    padding: 4px 4px 0;
    min-height: 18px;
    top: 5px;
    color:white;
}
.navbar ul.nav li a.notifications, .navbar ul.nav li a.messages {
    position: relative;
    margin-right: 10px;
}
.navbar ul.nav li a.messages {
    margin-right: 20px;
    width:40px;
}
.navbar a.notifications .badge {
    margin-left: -8px;
}
.navbar a.messages .badge {
    margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
    background: transparent !important;
}
@media (min-width: 1200px){
    .form-inline .input-group {
        width: 300px;
        margin-left: 30px;
    }
}
@media (max-width: 1199px){
    .form-inline {
        display: block;
        margin-bottom: 10px;
    }
    .input-group {
        width: 100%;
    }
}


/* body {
	background: #e2eaef;
	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .carousel-control {
	height: 44px;
	width: 40px;
	background: #7ac400;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel .carousel-control:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel .carousel-control.left i {
	margin-left: -2px;
}
.carousel .carousel-control.right i {
	margin-right: -4px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}



.modal-confirm {		
    color: #636363;
    width: 325px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}
.modal-confirm .modal-title{
    margin-left:65px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
}
.modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
}	
.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
}	
.modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
}
.modal-confirm.modal-dialog {
    margin-top: 80px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
    padding-top:10px;
}
.modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
} */
